@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div style="padding: 150px; margin-left: 180px">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <br/>
        <p class="text-black-50 font-size-5 font-weight-bold">Sorry :(</p>
        <p class="text-danger font-size-5 font-weight-medium">You do not have access to this resource.</p>
    </div>
</header>
