@model int

<div class="row">
    <div class="col">
        <a asp-action="Index" class="btn btn-dark form-control">Back</a>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-outline-carolina form-control font-weight-bold" asp-route-id="@Model">Update</button>
    </div>
</div>