@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>
    ul li {
        display: inline;
    }
</style>
<ul>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-primary-outline" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="padding-top:10px">Hi @User.Identity.Name</a>
        <span style="color:transparent">aaa</span>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" style="float: right">
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    }
    else
    {
        <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <span style="color:transparent">aaa</span>
        <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Register" style="float: right">Register</a>
    }
</ul>
