@model int

<div class="container row" style="height: 500px; padding: 60px; margin-left: 350px">
    <div class="col-12">
        <h2 class="text-dark">Order Submitted Successfully!</h2>
        <h6>Thank you for your order! </h6>
    </div>
    <p class="">Your Order Number is : @Model</p>

    <div class="col-12" style="color:maroon">
        We have received your order and delivered as soon as possible!
    <br />
    </div>
</div>

