@model int

<div class="container row" style="height: 470px; padding: 80px; margin-left: 350px">
    <div class="col-12">
        <h2 class="font-size-8 text-success">Your Order Is Submitted Successfully!</h2>
        <h6 class="font-size-6 text-black-50">Thank you for your order < 3 </h6>
    </div>
    <p class="font-size-6 col-12" style="margin-left:">Your Order Number is : @Model</p>

    <div class="col-12 font-size-5 text-danger font-weight-bold">
        We have received your order and delivered as soon as possible!
    <br />
    </div>
</div>

